body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

.login-register-container {
    background: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-register-container input {
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-register-container button {
    width: 100%;
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #4c6ef5;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-register-container button:hover {
    background-color: #374ccd;
}

.login-register-container select {
    width: 100%;
    padding: 10px 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.display-container {
    background: #ffffff;
    width: 100%;
    max-width: 900px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #4c6ef5;
}

.display-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.display-table th, .display-table td {
    text-align: left;
    padding: 12px;
    border: 1px solid #ddd;
}

.display-table th {
    background-color: #4c6ef5;
    color: #fff;
    font-weight: bold;
}

.display-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.display-table tr:hover {
    background-color: #f1f1f1;
}

.display-container button {
    background-color: #4c6ef5;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.display-container button:hover {
    background-color: #374ccd;
}

.display-container .action-button {
    background-color: #E58F2B;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition:cubic-bezier(1, 0, 0, 1) 0.3s ease;
    position: 10, 10;
    margin: 6px;
}

.display-container .action-button:hover {
    background-color: #6a471f;
}

.action-cell {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.update-container {
    background: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.update-container input {
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.update-container button {
    width: 100%;
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #4c6ef5;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-container select {
    width: 100%;
    padding: 10px 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.update-container .cancel-button{
    background-color: #E58F2B; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    font-size: 14px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    size: 5px;
    position: flex;
    bottom: 10px;
    right: 10px;
}

.update-container .cancel-button:hover{
    background-color: #6a471f;
}
